::ng-deep {
  mat-tab-group {
    /*max-width: 600px;*/
  }
}

mat-card {
  height: 300px;
}

.logbtn {
  width: 122px;
  height: 60px;
  font-size: 1.4em;
}

.mat-card {
  padding: 32px !important;
}
