<nav class="lsidenav" aria-label="Modes">
  <header class="lsidenav__head">
    <img class="lsidenav__mark" src="assets/images/gestaltbi-logo.png" alt="" />
    <div class="lsidenav__brand">
      <h2 class="lsidenav__name">GestaltBI</h2>
      <p class="lsidenav__tagline">{{ 'toolbar.tagline' | translate }}</p>
    </div>
  </header>

  <div class="lsidenav__menutitle eyebrow">{{ 'l-sidenav.menuTitle' | translate }}</div>

  <div class="lsidenav__modes" *ngIf="modes$ | async as modes">
    <ng-container *ngFor="let link of modes">
      <hr class="lsidenav__divider" *ngIf="link.type === 'divider'" />
      <a
        class="lsidenav__mode"
        *ngIf="link.type === 'button'"
        [routerLink]="sbi.changeMode(link.id)"
        routerLinkActive="lsidenav__mode--active"
        (click)="onPick()"
      >
        <span class="lsidenav__mode-icon" aria-hidden="true">
          <mat-icon svgIcon="{{ link.icon }}"></mat-icon>
        </span>
        <span class="lsidenav__mode-label">{{ link.labelKey | translate }}</span>
        <span class="lsidenav__mode-arrow" aria-hidden="true">→</span>
      </a>
    </ng-container>
  </div>

  <div class="lsidenav__back">
    <a class="lsidenav__backlink" [routerLink]="['/intro']" (click)="onPick()">
      <mat-icon>arrow_back</mat-icon>
      <span>{{ 'l-sidenav.back' | translate }}</span>
    </a>
  </div>

  <footer class="lsidenav__foot">
    <div class="lsidenav__contact">
      <a href="https://github.com/GestaltBI" target="_blank" rel="noopener">
        <mat-icon>language</mat-icon>
        github.com/GestaltBI
      </a>
      <a href="mailto:info@gestaltbi.com" target="_blank" rel="noopener">
        <mat-icon>mail</mat-icon>
        info&#64;gestaltbi.com
      </a>
    </div>
  </footer>
</nav>
