<div fxLayout="column" fxLayoutGap="24px">
  <mat-card class="analysis-filter">
    <sbi-filter localFilter="focusA" localState="filterL">
          <sbi-dimfilter [start]="{ 'smartbi:product_code': ['Prodotto A101'] }"></sbi-dimfilter>
    </sbi-filter>
    <sbi-filter localFilter="focusB" localState="filterR">
          <sbi-dimfilter [start]="{ 'smartbi:product_code': ['Prodotto B102'] }"></sbi-dimfilter>
    </sbi-filter>
  </mat-card>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div
      fxFlex
      echarts
      [theme]="theme"
      [merge]="mergeOptionA"
      [options]="chartOption"
      (chartInit)="onChartInit($event)"
    ></div>
    <div
      fxFlex="20"
      echarts
      [theme]="theme"
      [merge]="mergeOptionB"
      [options]="barChartOption"
      (chartInit)="onBarChartInit($event)"
    ></div>
  </div>
</div>
