<div class="intro" fxLayout="column">
  <div fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" fxFlex>
      <img class="intro__logo" src="assets/images/gestaltbi-logo.png" />
      <h1 class="intro__title">{{ 'intro.title' | translate | uppercase }}</h1>
    </div>
    <div class="intro__closebutton" fxLayout="row" (click)="back()">
      <span>{{ 'common.close' | translate }}</span>
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="40px">
    <div fxLayout="column" fxLayoutGap="24px" fxFlex>
      <sbi-download></sbi-download>
      <mat-card class="intro__contactcard">
        <h1 [innerHTML]="'intro.contactA' | translate"></h1>
        <button mat-raised-button (click)="goToSiteForm()">
          <mat-icon>email</mat-icon>
          {{ 'common.contactus' | translate }}
        </button>
      </mat-card>
    </div>
    <div fxLayout="column" fxLayoutGap="24px" fxFlex>
      <sbi-upload></sbi-upload>
      <mat-card class="intro__contactcard">
        <h1 [innerHTML]="'intro.contactB' | translate"></h1>
        <button mat-raised-button (click)="goToSiteForm()">
          <mat-icon>email</mat-icon>
          {{ 'common.contactus' | translate }}
        </button>
      </mat-card>
    </div>
  </div>
</div>
