@use '@angular/material' as mat;
@use 'maplibre-gl/dist/maplibre-gl.css';
@use 'ag-grid-community/styles/ag-grid.css';
@use 'ag-grid-community/styles/ag-theme-alpine.css';

// —— Design system —————————————————————————————————————————————————————————
@use 'tokens';
@use 'base';
@use 'typography';
@use 'controls';
@use 'mat-overrides';
@use 'flex-shim';
@use 'global';

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$cyan-palette,
      ),
      typography: 'Funnel Sans',
      density: 0,
    )
  );
}
