<div class="upload" sbiDragAndDrop (fileDropped)="onFileDropped($event)">
  <div
    class="upload__box"
    [class.upload__box--active]="mouseOvered"
    (mouseover)="mouseOvered = true"
    (mouseout)="mouseOvered = false"
  >
    <mat-icon class="upload__icon">cloud_upload</mat-icon>
    <h3 class="upload__box-title">{{ 'intro.dragHere' | translate }}</h3>
    <p class="upload__hint">{{ 'intro.uploadHint' | translate }}</p>
  </div>

  <div class="upload__or" aria-hidden="true">
    <span class="upload__rule"></span>
    <span class="upload__or-label">{{ 'common.or' | translate }}</span>
    <span class="upload__rule"></span>
  </div>

  <div class="upload__pickrow">
    <span class="upload__pickrow-label">{{ 'intro.fromPC' | translate }}</span>
    <sbi-importbtn class="upload__button" (dataLoaded)="dataLoaded($event)"></sbi-importbtn>
  </div>
</div>
