<div class="legend">
  <div class="legend__measure">
    <span class="legend__eyebrow eyebrow">misura</span>
    <mat-form-field appearance="outline" class="legend__select">
      <mat-select [(value)]="defaultMeasure" (selectionChange)="notifyChange($event)">
        <mat-option *ngFor="let measure of measures" [value]="measure">
          {{ measure.column.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="legend__circles" *ngIf="isMap">
    <span class="legend__eyebrow eyebrow">scala</span>
    <div class="legend__circles-row" aria-hidden="true">
      <span class="legend__dot legend__dot--small"></span>
      <span class="legend__dot legend__dot--big"></span>
    </div>
  </div>

  <div class="legend__income" *ngIf="isMap">
    <span class="legend__eyebrow eyebrow">{{ 'common.income' | translate }}</span>
    <div class="legend__bar"></div>
  </div>
</div>
