<div class="filter">
  <div class="filter__body">
    <ng-template
      [style.visibility]="isGlobal ? 'visible' : 'hidden'"
      [cdkPortalOutlet]="selectedPortal"
    ></ng-template>
    <ng-content [style.visibility]="!isGlobal ? 'visible' : 'hidden'"></ng-content>
  </div>
  <div class="filter__actions">
    <button class="btn btn--ghost btn--sm" (click)="reset()">
      <mat-icon>refresh</mat-icon>
      <span>{{ 'common.reset' | translate }}</span>
    </button>
    <button class="btn btn--solid btn--sm" (click)="save()">
      <mat-icon>check</mat-icon>
      <span>{{ 'common.select' | translate }}</span>
    </button>
  </div>
</div>
