<mat-sidenav-container class="shell">
  <mat-sidenav class="shell__lsidenav" mode="over" position="start" [opened]="lSidenavOpen" #lside>
    <sbi-l-sidenav></sbi-l-sidenav>
  </mat-sidenav>
  <mat-sidenav class="shell__rsidenav" mode="over" position="end" #rside>
    <sbi-r-sidenav></sbi-r-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="shell__content">
    <sbi-shell-toolbar></sbi-shell-toolbar>

    <main class="shell__viewport">
      <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
    </main>

    <section class="shell__filterbar" [class.shell__filterbar--open]="filterBarOpen">
      <div class="shell__filterbar-toggle">
        <span class="shell__filterbar-eyebrow eyebrow">{{ 'common.parameters' | translate }}</span>
        <button class="shell__filterbar-trigger" (click)="toggle()" [attr.aria-expanded]="filterBarOpen">
          <span>{{ filterBarOpen ? 'Nascondi' : 'Modifica' }}</span>
          <mat-icon>{{ filterBarOpen ? 'expand_more' : 'expand_less' }}</mat-icon>
        </button>
      </div>
      <div class="shell__filterbar-body" *ngIf="filterBarOpen">
        <sbi-filter filterScope="global"></sbi-filter>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
