<header class="toolbar" role="banner">
  <div class="toolbar__left">
    <button class="toolbar__menu" (click)="toggleLeft()" [attr.aria-label]="'toolbar.openMenu' | translate">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="toolbar__brand" routerLink="/intro" aria-label="GestaltBI home">
      <img src="assets/images/gestaltbi-logo.png" alt="" class="toolbar__mark" />
      <span class="toolbar__wordmark">
        <span class="toolbar__wordmark-name">GestaltBI</span>
        <span class="toolbar__wordmark-tagline">{{ 'toolbar.tagline' | translate }}</span>
      </span>
    </a>
  </div>

  <div class="toolbar__center">
    <ng-container *ngIf="mode$ | async as mode">
      <div class="toolbar__mode">
        <span class="toolbar__mode-label">{{ mode.label }}</span>
      </div>
    </ng-container>
    <mat-button-toggle-group class="toolbar__views">
      <mat-button-toggle [routerLink]="sbi.changeView('map')" [attr.aria-label]="'view.map' | translate">
        <mat-icon>map</mat-icon>
        <span>{{ 'view.map' | translate }}</span>
      </mat-button-toggle>
      <mat-button-toggle [routerLink]="sbi.changeView('graph')" [attr.aria-label]="'view.graph' | translate">
        <mat-icon>monitoring</mat-icon>
        <span>{{ 'view.graph' | translate }}</span>
      </mat-button-toggle>
      <mat-button-toggle [routerLink]="sbi.changeView('table')" [attr.aria-label]="'view.table' | translate">
        <mat-icon>view_list</mat-icon>
        <span>{{ 'view.table' | translate }}</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="toolbar__right">
    <button class="btn btn--spectrum btn--sm toolbar__cta" (click)="goToSiteForm()">
      <mat-icon>auto_awesome</mat-icon>
      <span>{{ 'common.customize' | translate }}</span>
    </button>
    <button class="toolbar__icon" (click)="openTutorial()" [attr.aria-label]="'toolbar.tutorial' | translate">
      <mat-icon>play_circle</mat-icon>
    </button>
    <button class="toolbar__icon" (click)="toggleRight()" [attr.aria-label]="'toolbar.guide' | translate">
      <mat-icon>menu_book</mat-icon>
    </button>
  </div>
</header>
