<header class="toolbar" role="banner">
  <div class="toolbar__left">
    <button class="toolbar__menu" (click)="toggleLeft()" aria-label="Apri menu">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="toolbar__brand" routerLink="/intro" aria-label="GestaltBI home">
      <img src="assets/images/gestaltbi-logo.png" alt="" class="toolbar__mark" />
      <span class="toolbar__wordmark">
        <span class="toolbar__wordmark-name">GestaltBI</span>
        <span class="toolbar__wordmark-tagline">la forma all'origine del significato</span>
      </span>
    </a>
  </div>

  <div class="toolbar__center">
    <ng-container *ngIf="mode$ | async as mode">
      <div class="toolbar__mode">
        <span class="toolbar__mode-label">{{ mode.label }}</span>
      </div>
    </ng-container>
    <mat-button-toggle-group class="toolbar__views">
      <mat-button-toggle [routerLink]="sbi.changeView('map')" aria-label="Mappa">
        <mat-icon>map</mat-icon>
        <span>Mappa</span>
      </mat-button-toggle>
      <mat-button-toggle [routerLink]="sbi.changeView('graph')" aria-label="Grafico">
        <mat-icon>monitoring</mat-icon>
        <span>Grafico</span>
      </mat-button-toggle>
      <mat-button-toggle [routerLink]="sbi.changeView('table')" aria-label="Tabella">
        <mat-icon>view_list</mat-icon>
        <span>Tabella</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="toolbar__right">
    <button class="btn btn--spectrum btn--sm toolbar__cta" (click)="goToSiteForm()">
      <mat-icon>auto_awesome</mat-icon>
      <span>{{ 'common.customize' | translate }}</span>
    </button>
    <button class="toolbar__icon" (click)="openTutorial()" aria-label="Tutorial">
      <mat-icon>play_circle</mat-icon>
    </button>
    <button class="toolbar__icon" (click)="toggleRight()" aria-label="Glossario">
      <mat-icon>menu_book</mat-icon>
    </button>
  </div>
</header>
