<div class="r-sidenav">
  <button mat-icon-button (click)="closeSidenav()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="r-sidenav__header" fxLayout="column" fxLayoutAlign="none center" fxLayoutGap="24px">
    <h1 class="r-sidenav__title color-accent" [innerHtml]="'wiki.' + mode + '.title' | translate"></h1>
    <p [innerHtml]="'wiki.' + mode + '.description' | translate"></p>
  </div>
  <div class="r-sidenav__glossary">
    <div fxLayout="row" fxLayoutAlign="center none" fxLayoutGap="8px">
      <mat-icon svgIcon="book-information-variant"></mat-icon>
      <span class="r-sidenav__glossarytitle">{{ 'common.glossary' | translate }}</span>
    </div>
    <ng-container *ngIf="terms$ | async as terms">
      <mat-accordion fxFill>
        <mat-expansion-panel *ngFor="let term of terms">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>
                {{ term.name }}
              </b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p [innerHtml]="term.description"></p>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </div>
</div>
