<div class="analysis-area" fxLayout="row" fxLayoutGap="24px">
  <div fxFlex>
    <mat-card class="analysis-filter">
      <sbi-filter localFilter="data1" localState="filterL">
          <sbi-dimfilter [start]="{ 'smartbi:product_code': ['Prodotto A101'] }"></sbi-dimfilter>
      </sbi-filter>
    </mat-card>
    <ag-grid-angular fxFill *ngIf="columnDefs" class="ag-theme-alpine" [rowData]="rowData1" [columnDefs]="columnDefs">
    </ag-grid-angular>
  </div>
  <div fxFlex>
    <mat-card class="analysis-filter">
      <sbi-filter localFilter="data2" localState="filterR">
          <sbi-dimfilter [start]="{ 'smartbi:product_code': ['Prodotto B102'] }"></sbi-dimfilter>
      </sbi-filter>
    </mat-card>
    <ag-grid-angular fxFill *ngIf="columnDefs" class="ag-theme-alpine" [rowData]="rowData2" [columnDefs]="columnDefs">
    </ag-grid-angular>
  </div>
</div>
