<div class="download">
  <div class="download__preview" aria-hidden="true">
    <div class="download__preview-row download__preview-row--head">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="download__preview-row" *ngFor="let row of previewRows">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="download__meta">
    <div class="download__filename">
      <mat-icon>description</mat-icon>
      <span>data_template.csv</span>
    </div>
    <button class="btn btn--solid" (click)="download()">
      <mat-icon>download</mat-icon>
      <span>{{ 'intro.downloadCta' | translate }}</span>
    </button>
  </div>
</div>
