<mat-card class="download download__card" fxLayout="column" fxLayoutAlign="none center" fxLayoutGap="32px">
  <h2 class="download__title" [innerHTML]="'intro.download.title' | translate"></h2>
  <div class="download__content" fxLayout="row">
    <div fxFlex>
      <h3 class="download__subtitle" [innerHTML]="'intro.download.products.title' | translate"></h3>
      <mat-grid-list cols="2" rowHeight="62px">
        <ng-container *ngIf="products$ | async as products">
          <mat-grid-tile *ngFor="let p of products">
            <img class="download__gridicon" src="{{ 'assets/images/' + p.icon }}" />
            <span class="download__gridlabel" [innerHTML]="p.text | translate"></span>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
    </div>
    <div class="download__divider"></div>
    <div fxFlex>
      <h3 class="download__subtitle" [innerHTML]="'intro.download.services.title' | translate"></h3>
      <mat-grid-list cols="2" rowHeight="62px">
        <ng-container *ngIf="services$ | async as services">
          <mat-grid-tile *ngFor="let s of services">
            <img class="download__gridicon" src="{{ 'assets/images/' + s.icon }}" />
            <span class="download__gridlabel" [innerHTML]="s.text | translate"></span>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
    </div>
  </div>
  <h3 class="download__subtitle" [innerHTML]="'intro.download.subtitle' | translate"></h3>
  <button class="download__button" color="accent" mat-raised-button (click)="download()">
    {{ 'common.download' | translate | uppercase }}
  </button>
</mat-card>
